body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-size: xx-large;
  
}

input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
  margin-bottom: 0.5rem;
}

input[type="checkbox"], input[type="radio"] {
  transform: scale(2);
  position: relative;
  right: -20px;
}

label:has(input[type="checkbox"]), label:has(input[type="radio"]) {
  position: relative;
  right: 20px;
}


